{% macro render(ariaLabel, items, className='intro-quick-nav') %}
  <nav aria-label="{{ ariaLabel }}" class="{{ className }}">
    <ul>
      {% for item in items %}
        {% set link = item.href or ('#' + item.id) %}
        <li><a href="{{ link }}">{{ item.label }}</a></li>
      {% endfor %}
    </ul>
  </nav>
{% endmacro %}
