---
layout: null
permalink: "multi-tenancy.html"
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; url={{ '/multi-tenancy/' | url }}">
    <link rel="canonical" href="{{ site.host }}{{ '/multi-tenancy/' | url }}">
    <title>Redirecting…</title>
  </head>
  <body>
    <p>If you are not redirected automatically, <a href="{{ '/multi-tenancy/' | url }}">continue to /multi-tenancy/</a>.</p>
  </body>
</html>
