---
layout: null
permalink: quickstart/quickstart-mysql.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url={{ '/quickstarts/quickstart-mysql/' | url }}" />
    <link rel="canonical" href="{{ '/quickstarts/quickstart-mysql/' | url }}" />
    <title>Redirecting…</title>
  </head>
  <body>
    <p>If you are not redirected automatically, <a href="{{ '/quickstarts/quickstart-mysql/' | url }}">continue to /quickstarts/quickstart-mysql/</a>.</p>
  </body>
</html>
