---
layout: null
permalink: quickstart/quickstart-oracle.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url={{ '/quickstarts/quickstart-oracle/' | url }}" />
    <link rel="canonical" href="{{ site.host }}{{ '/quickstarts/quickstart-oracle/' | url }}" />
    <title>Redirecting…</title>
  </head>
  <body>
    <p>If you are not redirected automatically, <a href="{{ '/quickstarts/quickstart-oracle/' | url }}">continue to /quickstarts/quickstart-oracle/</a>.</p>
  </body>
</html>
