---
layout: null
permalink: "use-cases.html"
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; url={{ '/use-cases/' | url }}">
    <link rel="canonical" href="{{ '/use-cases/' | url }}">
    <title>Redirecting…</title>
  </head>
  <body>
    <p>If you are not redirected automatically, <a href="{{ '/use-cases/' | url }}">continue to /use-cases/</a>.</p>
  </body>
</html>
