---
layout: null
permalink: quickstart/quickstart-postgres.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/quickstarts/quickstart-postgres/" />
    <link rel="canonical" href="/quickstarts/quickstart-postgres/" />
    <title>Redirecting…</title>
  </head>
  <body>
    <p>If you are not redirected automatically, <a href="/quickstarts/quickstart-postgres/">continue to /quickstarts/quickstart-postgres/</a>.</p>
  </body>
</html>
